#board1{
    height:300px;
    width: 100%;
    margin-top: 2%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-image: url("https://assets.interntheory.com/creative/courses/thumbnails/android-app-development-kotlin-course.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#board2{
    height:200px;
    width: 60%;
    margin-left: 7%;
    margin-top: 2%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#board3{
    height:750px;
    width: 60%;
    margin-left: 7%;
    margin-top: 2%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   margin-bottom: 32%;
}
#board4{
    height:200px;
    width: 20%;
    margin-left: 70%;
    margin-top: -85%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;    
}
#board5{
    height:240px;
    width: 20%;
    margin-left: 70%;
    margin-top: 2%;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   position: relative;
   

   
    
}
#board6{
    position: sticky;
   
    height:80px;
    width: 20%;
    margin-left: 70%;
    margin-top: 2%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    background-color: rgb(214, 197, 172);
   
  
    
    
}
#board7{
    height:100px;
    width:20%;
    margin-left: 70%;
    margin-top: 2%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  
   

    
    
}
#message{
    width: 100%;
    height: 40px;
    margin-top: 5%;
    background-color: rgb(206, 32, 32);
    
    
}
.text{
    font-style: normal;
    font-weight: lighter;
    color: rgb(243, 237, 237);
    text-align: center;
    
}
.anchor1{
    text-decoration: none;
    color: rgb(243, 237, 237);
    margin-left: 5px;
}
.anchor2{
    text-decoration: none;
    color: rgb(243, 237, 237);
    margin-left: 5px;
}
#pic1{
    height: 300px;
    width: 100%;

}
.head1{
    margin-left: 2%;
    margin-top: 4%;
}
.des{
    margin-left: 2%;
    color: rgb(160, 150, 150);
}
#features{
    display: flex;

}
#features>div:nth-child(1){
    height:50px;
    width:8px;
    background-color: rgb(243, 243, 26);
    margin-top: 5%;
    margin-left: 5%;
}
#features>div:nth-child(2){
    margin-left: 5%;
    margin-top: 6%;
    font-size: 20px;
    color: rgb(68, 65, 65);
}
#xyz{
    display: flex;
    justify-content: space-around;
}
#keyfeatures{
    display: flex;
    margin-top: 2%;
}
#keyfeatures>div:nth-child(1){
    margin-left:-20%;
    margin-top: 8%;
}
img{
    width:80px;
    
}
#keyfeatures>div:nth-child(2){
    margin-left: 6%;
    font-size: 20px;
    margin-top: 23%;
}
#abc{
    display: flex;
}
#abc>div:nth-child(1){
    margin-top:8%;
    margin-left: -10%;
}
#abc>div:nth-child(2){
    margin-left: 6%;
    font-size: 18px;
    margin-top: 16%;
}
hr{
    width: 90%;
    border: 1px dashed black;
}
#excel{
    display: flex;
    justify-content: space-around;
}
#courses>div{
    font-size: 16px;
    color: blue;
    margin-left: -40%;
    margin-top: 2%;
}
#pluse>div{
    font-size: 20px;
    color: blue;
}
.para2{
    margin-left: 5%;
    font-size: 16px;
    
}
.line{
    border: 1px dashed black;
    margin-top: -1%;
}
.price{
    margin-top: 8%;
    margin-left: 8%;
    font-size: 30px;
    color: rgb(219, 12, 12);
}
.price2{
    margin-top: -10%;
    margin-left: 38%;
    text-decoration: line-through;
}
.button{
    height:30px;
    width:80%;
    margin-left: 10%;
    border: none;
    border-radius: 10px;
 background-color: rgb(241, 37, 37);
 color: azure;
 font-size: 18px;
 
}
.para3{
    margin-left:45% ;
    margin-top: 5px;
    font-size: 18px;
}
.button1{
    height:30px;
    width:80%;
    margin-left: 10%;
    border: none;
    border-radius: 10px;
    border: 1px solid red;
 color: rgb(230, 66, 16);
 font-size: 18px;
 margin-top: -2%;
 
}
#board6>div>div:nth-child(1){
    font-size: 18px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 5%;
}
#board6>div>div:nth-child(2){
    margin-top: 2%;
    margin-left: 5%;
    color: rgb(143, 123, 123);
}
#board7>div:nth-child(1){
    padding-top: 20px;
    padding-left: 20px;
    font-size: 18px;
}
#line1{
    border: 1px solid black;
}

