#belowNavBar {
    margin-top: 65px;
    width: 97.37%;
    padding: 20px;
    padding-top: 50px;
    background-image: url(https://assets.interntheory.com/creative/Web-Banner.jpg);
  }
  #StudentLoginContainer {
    width: 32.5%;
    background-color: white;
    box-sizing: border-box;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #StudentLoginContainer > :nth-child(1) {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: bold;
  }
  #StudentLoginContainer > :nth-child(1) > div {
    width: 50%;
    text-align: center;
    height: 48px;
    line-height: 48px;
  }
  #StudentLoginContainer > :nth-child(1) > :nth-child(1) {
    color: #0000008a;
    cursor: pointer;
  }
  #StudentLoginContainer > :nth-child(1) > :nth-child(2) {
    color: #087cdd;
    border-bottom: #087cdd solid 2px;
    cursor: pointer;
  }
  #StudentLoginContainer > :nth-child(2) {
    font-size: 24px;
    margin: 5px 0px 10px 0px;
    color: #000000de;
  }
  #StudentLoginContainer > :nth-child(3) {
    border: dashed rgb(239, 147, 154) 1px;
    border-radius: 5px;
    color: #3c4858;
    font-size: 14px;
    background-color: #fceff1;
    line-height: 20px;
    padding: 8px 8px 10px 8px;
    margin-bottom: 10px;
  }
  #StudentLoginContainer > :nth-child(4) {
    display: none;
  }

  #StudentLoginContainer > :nth-child(5) {
    padding: 8px;
    border-radius: 5px;
    background-color: #087cdd;
    text-align: center;
    height: 28px;
    position: relative;
    line-height: 28px;
    margin-bottom: 10px;
  }
  #StudentLoginContainer > :nth-child(5) > :nth-child(1) {
    width: 21px;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    left: 12px;
    position: absolute;
  }
  #StudentLoginContainer > :nth-child(5) > :nth-child(2) {
    font-size: 14px;
    color: white;
    font-weight: 500;
  }
  #StudentLoginContainer > :nth-child(6) {
    font-size: 14px;
    color: #999999;
    text-align: center;
  }
  #StudentLoginContainer > :nth-child(7) {
    margin-bottom: 10px;
  }
  #StudentLoginContainer > :nth-child(7) > :nth-child(1) {
    color: #f44336;
    font-weight: 500;
    font-size: 12px;
    visibility: hidden;
  }
  #StudentLoginContainer > :nth-child(7) > :nth-child(2) > input {
    color: rgb(133, 133, 133);
    outline: none;
    border: none;
    border-bottom: solid 2px rgb(133, 133, 133);
    width: 100%;
    font-size: 16px;
    padding: 6px 0px 7px;
    margin-bottom: 5px;
  }
  #StudentLoginContainer > :nth-child(7) > :nth-child(2) :hover {
    border-bottom: solid 2px black;
    transition-duration: 0.4s;
  }
  #StudentLoginContainer > :nth-child(7) > :nth-child(3) {
    visibility: hidden;
    font-size: 12px;
    color: #f44336;
  }
  #StudentLoginContainer > :nth-child(8) > :nth-child(1) {
    color: #f44336;
    font-weight: 500;
    font-size: 12px;
    visibility: hidden;
  }
  #StudentLoginContainer > :nth-child(8) > :nth-child(2) > input {
    color: rgb(133, 133, 133);
    outline: none;
    border: none;
    border-bottom: solid 2px rgb(133, 133, 133);
    width: 100%;
    font-size: 16px;
    padding: 6px 0px 7px;
    margin-bottom: 5px;
  }
  #StudentLoginContainer > :nth-child(8) > :nth-child(2) :hover {
    border-bottom: solid 2px black;
    transition-duration: 0.4s;
  }
  #StudentLoginContainer > :nth-child(8) > :nth-child(3) {
    font-size: 12px;
    color: #f44336;
    margin-bottom: 10px;
    visibility: hidden;
  }
  #StudentLoginContainer > :nth-child(9) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  #StudentLoginContainer > :nth-child(9) > :nth-child(1) {
    display: flex;
    align-items: center;
  }
  #StudentLoginContainer > :nth-child(9) > :nth-child(1) > :nth-child(1) {
    border: solid;
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
  #StudentLoginContainer > :nth-child(9) > :nth-child(2) {
    color: #087cdd;
    font-size: 14px;
  }
  #StudentLoginContainer > :nth-child(10) {
    display: flex;
    color: rgb(133, 133, 133);
    font-size: 14px;
    margin-bottom: 20px;
  }
  #StudentLoginContainer > :nth-child(10) > :nth-child(1) {
    margin: auto;
  }
  #StudentLoginContainer > :nth-child(10) span {
    color: #087cdd;
    margin-left: 5px;
  }
  #StudentLoginContainer > :nth-child(11) {
    width: 100%;
    height: 36px;
    background-color: white;
    border-radius: 5px;
    color: #f44336;
    border: none;
    outline: none;
    font-weight: bold;
    border: solid 1px #f44336;
  }
  #StudentLoginContainer > :nth-child(11):hover {
    background-color: #faedec;
  }