#res {
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 150px;
}
#rediv {
  padding-top: 30px;
  height: 430px;
  width: 600px;
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
#re {
  width: 80%;
  height: 50px;
  outline: 0;
  border-width: 0 0 1px;
  margin-left: 8%;
}
#re:hover {
  border-color: black;
  border-width: 0 0 2px;
}
#re:focus {
  border-color: rgb(45, 45, 151);
}
#pr {
  margin-left: 8%;
  font-size: 20px;
}
#subbox {
  width: 20%;
  height: 40px;
  background-color: #df1e2e;
  justify-content: center;
  margin-left: 65%;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
#subbox:hover {
  background-color: brown;
}
#close-btn {
  width: 15%;
  border: none;
  color: #087cdd;
  font-size: 20px;
  background: none;
}
#ds {
  margin-right: 60px;
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
