#belowNavBar {
  margin-top: 65px;
  width: 97.37%;
  height: auto;
  padding: 20px;
  padding-top: 50px;
  background-image: url(https://assets.interntheory.com/creative/Web-Banner.jpg);
}
#StudentLoginContainer {
  width: 42%;
  background-color: white;
  box-sizing: border-box;
  padding: 30px;
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#StudentLoginContainer > :nth-child(1) {
  font-size: 24px;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 8px;
}
#StudentLoginContainer > :nth-child(2) {
  display: flex;
  color: rgb(133, 133, 133);
  font-size: 14px;
  margin-bottom: 10px;
}
#StudentLoginContainer > :nth-child(2) span {
  color: #087cdd;
  margin-left: 5px;
}
#StudentLoginContainer > :nth-child(3) {
  border: dashed rgb(239, 147, 154) 1px;
  border-radius: 5px;
  color: #3c4858;
  font-size: 14px;
  background-color: #fceff1;
  line-height: 20px;
  padding: 8px 8px 10px 8px;
  margin-bottom: 10px;
}
#StudentLoginContainer > :nth-child(4) {
  padding: 8px;
  border-radius: 5px;
  background-color: #4267b2;
  text-align: center;
  height: 28px;
  position: relative;
  line-height: 28px;
  margin-bottom: 10px;
}
#StudentLoginContainer > :nth-child(4) > :nth-child(1) {
  width: 21px;
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  left: 12px;
  position: absolute;
}
#StudentLoginContainer > :nth-child(4) > :nth-child(2) {
  font-size: 14px;
  color: white;
  font-weight: 500;
}
#StudentLoginContainer > :nth-child(5) {
  padding: 8px;
  border-radius: 5px;
  background-color: #087cdd;
  text-align: center;
  height: 28px;
  position: relative;
  line-height: 28px;
  margin-bottom: 10px;
}
#StudentLoginContainer > :nth-child(5) > :nth-child(1) {
  width: 21px;
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  left: 12px;
  position: absolute;
}
#StudentLoginContainer > :nth-child(5) > :nth-child(2) {
  font-size: 14px;
  color: white;
  font-weight: 500;
}
#StudentLoginContainer > :nth-child(6) {
  font-size: 14px;
  color: #999999;
  text-align: center;
  margin-bottom: 10px;
}
#StudentLoginContainer > :nth-child(7) {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
#StudentLoginContainer > :nth-child(7) > div {
  width: 49%;
}
#StudentLoginContainer > :nth-child(7) > div > :nth-child(1) {
  color: #f44336;
  font-weight: 500;
  font-size: 12px;
  visibility: hidden;
}
#StudentLoginContainer > :nth-child(7) > div > :nth-child(2) > input {
  color: rgb(133, 133, 133);
  outline: none;
  border: none;
  border-bottom: #999999 solid 2px;
  width: 100%;
  font-size: 16px;
  padding: 6px 0px 7px;
  margin-bottom: 5px;
}
#StudentLoginContainer > :nth-child(7) > div > :nth-child(2) :hover {
  border-bottom: solid 2px black;
  transition-duration: 0.2s;
}
#StudentLoginContainer > :nth-child(7) > div > :nth-child(3) {
  font-size: 12px;
  color: #f44336;
  visibility: hidden;
}
#StudentLoginContainer > :nth-child(8) > :nth-child(1) {
  visibility: hidden;
  color: #f44336;
  font-weight: 500;
  font-size: 12px;
}
#StudentLoginContainer > :nth-child(8) > :nth-child(2) > input {
  color: rgb(133, 133, 133);
  outline: none;
  border: none;
  border-bottom: #999999 solid 2px;
  width: 100%;
  font-size: 16px;
  padding: 6px 0px 7px;
  margin-bottom: 5px;
}
#StudentLoginContainer > :nth-child(8) > :nth-child(2) :hover {
  border-bottom: solid 2px black;
  transition-duration: 0.2s;
}
#StudentLoginContainer > :nth-child(8) > :nth-child(3) {
  visibility: hidden;
  font-size: 12px;
  color: #f44336;
  margin-bottom: 10px;
}
#StudentLoginContainer > :nth-child(9) > :nth-child(1) {
  color: #f44336;
  font-weight: 500;
  font-size: 12px;
  visibility: hidden;
}
#StudentLoginContainer > :nth-child(9) > :nth-child(2) > input {
  color: rgb(133, 133, 133);
  outline: none;
  border: none;
  border-bottom: #999999 solid 2px;
  width: 100%;
  font-size: 16px;
  padding: 6px 0px 7px;
  margin-bottom: 5px;
}
#StudentLoginContainer > :nth-child(9) > :nth-child(2) :hover {
  border-bottom: solid 2px black;
  transition-duration: 0.2s;
}
#StudentLoginContainer > :nth-child(9) > :nth-child(3) {
  font-size: 12px;
  color: #f44336;
  margin-bottom: 10px;
  visibility: hidden;
}
#StudentLoginContainer > :nth-child(10) > :nth-child(1) {
  color: #f44336;
  font-weight: 500;
  font-size: 12px;
  visibility: hidden;
}
#StudentLoginContainer > :nth-child(10) > :nth-child(2) > input {
  color: rgb(133, 133, 133);
  outline: none;
  border: none;
  border-bottom: #999999 solid 2px;
  width: 100%;
  font-size: 16px;
  padding: 6px 0px 7px;
  margin-bottom: 5px;
}
#StudentLoginContainer > :nth-child(10) > :nth-child(2) :hover {
  border-bottom: solid 2px black;
  transition-duration: 0.2s;
}
#StudentLoginContainer > :nth-child(10) > :nth-child(3) {
  font-size: 12px;
  color: #f44336;
  margin-bottom: 10px;
  visibility: hidden;
}
#StudentLoginContainer > :nth-child(11) > :nth-child(1) {
  display: flex;
  border-bottom: #999999 solid 2px;
  margin-bottom: 5px;
}
#StudentLoginContainer > :nth-child(11) :hover {
  border-bottom: solid 2px black;
  transition-duration: 0.2s;
}
#StudentLoginContainer > :nth-child(11) > :nth-child(2) {
  border: none;
  visibility: hidden;
}
#StudentLoginContainer > :nth-child(11) > :nth-child(1) > input {
  color: black;
  outline: none;
  border: none;
  width: 95%;
  font-size: 16px;
  padding: 6px 0px 7px;
}
#StudentLoginContainer > :nth-child(11) > :nth-child(1) > :nth-child(2) i {
  border: none;
}
#StudentLoginContainer > :nth-child(11) > :nth-child(1) > :nth-child(2) {
  width: 5%;
  border: none;
  border-left: solid 2px;
  height: 20px;
  text-align: center;
  color: #999999;
}
#StudentLoginContainer > :nth-child(11) > :nth-child(2) {
  font-size: 12px;
  color: #f44336;
  margin-bottom: 10px;
}
#StudentLoginContainer > :nth-child(11) {
  position: relative;
}
#StudentLoginContainer > :nth-child(11) > :nth-child(3) {
  box-sizing: border-box;
  padding: 10px 0px;
  z-index: 3;
  max-height: 400px;
  display: none;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  background-color: white;
}
#StudentLoginContainer > :nth-child(12) > :nth-child(1) {
  display: flex;
  border-bottom: #999999 solid 2px;
  margin-bottom: 5px;
}
#StudentLoginContainer > :nth-child(12) > :nth-child(1) > input {
  color: black;
  outline: none;
  border: none;
  width: 95%;
  font-size: 16px;
  padding: 6px 0px 7px;
}
#StudentLoginContainer > :nth-child(12) > :nth-child(1) > :nth-child(2) {
  width: 5%;
  border-left: solid 2px;
  height: 20px;
  text-align: center;
  color: #999999;
}
#StudentLoginContainer > :nth-child(12) > :hover {
  border-bottom: solid 2px black;
  transition-duration: 0.2s;
}
#StudentLoginContainer > :nth-child(12) > :nth-child(2) {
  border: none;
  font-size: 12px;
  color: #f44336;
  margin-bottom: 10px;
  visibility: hidden;
}
#StudentLoginContainer > :nth-child(12) {
  position: relative;
}
#StudentLoginContainer > :nth-child(12) > :nth-child(3) {
  display: none;
  box-sizing: border-box;
  padding: 10px 0px;
  z-index: 3;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-height: 400px;
  border-radius: 5px;
  background-color: white;
}
#StudentLoginContainer > :nth-child(13) > :nth-child(1) {
  display: flex;
  border-bottom: #999999 solid 2px;
  margin-bottom: 5px;
}
#StudentLoginContainer > :nth-child(13) > :nth-child(1) > input {
  color: black;
  outline: none;
  border: none;
  width: 95%;
  font-size: 16px;
  padding: 6px 0px 7px;
}
#StudentLoginContainer > :nth-child(13) > :nth-child(1) > :nth-child(2) {
  width: 5%;
  border-left: solid 2px;
  height: 20px;
  text-align: center;
  color: #999999;
}
#StudentLoginContainer > :nth-child(13) > :nth-child(1):hover {
  border-bottom: solid 2px black;
  transition-duration: 0.2s;
}
#StudentLoginContainer > :nth-child(13) > :nth-child(2) {
  font-size: 12px;
  color: #f44336;
  margin-bottom: 10px;
  border: none;
  visibility: hidden;
}
#StudentLoginContainer > :nth-child(13) {
  position: relative;
}
#StudentLoginContainer > :nth-child(13) > :nth-child(3) {
  display: none;
  box-sizing: border-box;
  padding: 10px 0px;
  z-index: 3;
  /* overflow-y: scroll; */
  width: 100%;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-height: 400px;
  border-radius: 5px;
  background-color: white;
}
#StudentLoginContainer > :nth-child(14) > :nth-child(1) {
  display: flex;
  border-bottom: #999999 solid 2px;
  margin-bottom: 5px;
}
#StudentLoginContainer > :nth-child(14) > :nth-child(1) > input {
  color: black;
  outline: none;
  border: none;
  width: 95%;
  font-size: 16px;
  padding: 6px 0px 7px;
}
#StudentLoginContainer > :nth-child(14) > :nth-child(1) > :nth-child(2) i {
  border: none;
}
#StudentLoginContainer > :nth-child(14) > :nth-child(1) > :nth-child(2) {
  width: 5%;
  border: none;
  border-left: solid 2px;
  height: 20px;
  text-align: center;
  color: #999999;
}
#StudentLoginContainer > :nth-child(14) :hover {
  border-bottom: solid 2px black;
  transition-duration: 0.2s;
}
#StudentLoginContainer > :nth-child(14) > :nth-child(2) {
  font-size: 12px;
  color: #f44336;
  margin-bottom: 10px;
  border: none;
  visibility: hidden;
}
#StudentLoginContainer > :nth-child(14) {
  position: relative;
}
#StudentLoginContainer > :nth-child(11) > :nth-child(3) > div {
  height: 50px;
  font-size: 16px;
  font-weight: lighter;
  line-height: 40px;
  box-sizing: border-box;
  padding: 5px 10px;
}
#StudentLoginContainer > :nth-child(11) > :nth-child(3) > div:hover {
  background-color: #ebe6e7;
}
#StudentLoginContainer > :nth-child(12) > :nth-child(3) > div {
  height: 50px;
  font-size: 16px;
  font-weight: lighter;
  line-height: 40px;
  box-sizing: border-box;
  padding: 5px 10px;
}
#StudentLoginContainer > :nth-child(12) > :nth-child(3) > div:hover {
  background-color: #ebe6e7;
}
#StudentLoginContainer > :nth-child(13) > :nth-child(3) > div {
  height: 50px;
  font-size: 16px;
  font-weight: lighter;
  line-height: 40px;
  box-sizing: border-box;
  padding: 5px 10px;
}
#StudentLoginContainer > :nth-child(13) > :nth-child(3) > div:hover {
  background-color: #ebe6e7;
}
#StudentLoginContainer > :nth-child(14) > :nth-child(3) > div {
  height: 50px;
  font-size: 16px;
  font-weight: lighter;
  line-height: 40px;
  box-sizing: border-box;
  padding: 5px 10px;
}
#StudentLoginContainer > :nth-child(14) > :nth-child(3) > div:hover {
  background-color: #ebe6e7;
}
#StudentLoginContainer > :nth-child(14) > :nth-child(3) {
  display: none;
  box-sizing: border-box;
  /* height: 20px; */
  padding: 10px 0px;
  z-index: 3;
  max-height: 400px;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  background-color: white;
}
#StudentLoginContainer > :nth-child(15) > input {
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  border: none;
  border-bottom: #999999 solid 2px;
  width: 100%;
  outline: none;
}
#StudentLoginContainer > :nth-child(15) > input:hover {
  border-bottom: solid 2px black;
}
#StudentLoginContainer > :nth-child(16) {
  width: 100%;
  height: 36px;
  background-color: white;
  border-radius: 5px;
  color: #f44336;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  border: solid 1px #f44336;
}
#StudentLoginContainer > :nth-child(16):hover {
  background-color: #faedec;
}
