*body {
    border-color: whitesmoke;
  }
  #internimg {
    height: 400px;
    width: 100%;
  }
  #maindiv {
    display: flex;
    width: 100%;
    height: 180px;
    box-sizing: border-box;
    border-bottom: 2px dashed rgb(224, 224, 224);
    gap: 20px;
    justify-content: center;
  }
  #imgdiv {
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin: 0px 10px 10px;
    padding: 2px;
    padding-top: 1.5%;
  }
  
  #tagdiv {
    height: 100%;
    width: 60%;
    list-style: 25px;
    line-height: 10px;
  }
  
  #lastdiv {
    /* border: 1px solid brown; */
    width: 30%;
    height: 100%;
  }
  #internimg {
    height: 60px;
    width: 100%;
  }
  #alldiv {
    width: 100%;
    display: flex;
    /* border: 1px solid green; */
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 3%;
    gap: 20px;
    margin-top: 1%;
    padding-top: 1%;
    list-style: 25px;
    /* border-color: ; */
    padding-bottom: 4%;
  }
  #intermaindiv {
    width: 70%;
    /* border: 1px solid aqua; */
    box-sizing: border-box;
    /* display: flex; */
    /* flex-direction: column; */
  
    box-shadow: 2px 2px 5px 5px rgb(235 235 235);
    background-color: #ffffff;
  }
  #leftimgd {
    width: 30%;
    /* border: magenta; */
  }
  #leftdiv {
    width: 28%;
    height: 400px;
    /* border: 1px solid greenyellow; */
  }
  #leftdivimg {
    height: 400px;
  }
  #titid {
    color: #3c4858;
    font-size: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    /* line-height: 1.6; */
    letter-spacing: 0.0075em;
  }
  #companydiv {
    color: #3c4858;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    /* line-height: 1.5; */
    letter-spacing: 0.01071em;
  }
  #allcl {
    color: #3c4858;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    /* line-height: 1.5; */
    letter-spacing: 0.01071em;
    color: #0000008a;
  }
  #shearimg {
    height: 30px;
    padding-bottom: 1%;
    margin-bottom: 25%;
    /* padding-left: 20%; */
    /* margin-left: 20%; */
  }
  #viewbtn {
    border: none;
    border-color: #ffffff;
    color: #087cdd;
  }
  #firstallintdiv {
    height: 250px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    box-sizing: border-box;
    line-height: 15px;
    border-bottom: 2px dashed rgb(224, 224, 224);
  }
  #allintimg {
    width: 14%;
  }
  
  #imgfd {
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin: 0px 10px 10px;
    padding: 2px;
    padding-top: 1.5%;
  }
  #firstlastdiv {
    padding-right: -10%;
    height: 100%;
    width: 58%;
    /* border: 1px solid red; */
  }
  #fdimg {
    height: 30px;
    padding-bottom: 1%;
    margin-bottom: 25%;
  }
  #btnfd {
    border: none;
    border-color: #ffffff;
    color: #087cdd;
  }
  #allpfdiv {
    color: #3c4858;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    /* line-height: 1.5; */
    letter-spacing: 0.01071em;
    color: #0000008a;
  }
  #lastdiv {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  #lastdivupgrade {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-left: 7%;
  }
  
  #lastdiv {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  #lastdivupgrade {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-left: 7%;
  }
  #lastdiv {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  #lastdivupgrade {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-left: 7%;
  }
  
  /* searchbar css -------------------------------------------------> */
  
  body {
    background-color: whitesmoke;
  }
  * {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
  #result {
    display: none;
  }
  #cities,
  #type,
  #pref {
    position: relative;
    cursor: pointer;
  }
  #dropcity,
  #droptype,
  #droppref {
    position: absolute;
    height: 200px;
    width: 16%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    top: 75px;
    background-color: white;
    overflow: scroll;
    display: none;
    border-radius: 8px;
  }
  #dropcity > div:hover,
  #droptype > div:hover,
  #droppref > div:hover {
    background-color: #d2d2d2;
  }
  #dropcity > div,
  #droptype > div,
  #droppref > div {
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 5px;
  }
  
  #searchboxes {
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    margin: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    box-shadow: 2px 2px 5px 5px rgb(235 235 235);
  }
  #searchboxes > div {
    border-bottom: 1px solid gray;
  }
  #searchboxes > div:last-child {
    border: none;
  }
  #searchboxes > div:last-child:hover {
    border: none;
  }
  #searchboxes > div > button {
    padding-left: 8px;
    margin-left: 5px;
    border: none;
    background-color: white;
    border-left: 0.5px solid gray;
  }
  
  #searchboxes > div > input {
    padding: 10px;
    border: none;
    font-size: 16px;
  }
  
  #searchboxes > div:hover {
    border-bottom: 2px solid black;
  }
  #last {
    border-radius: 5px;
    background-color: whitesmoke;
    height: 50px;
    width: 20%;
    display: flex;
    align-items: center;
    padding: 5px;
  }
  #last > div {
    width: 100%;
    height: 40px;
    display: flex;
  }
  #last > div > input {
    border: none;
    border-bottom: 1px solid gray;
    padding: 10px;
    font-size: 16px;
    background-color: whitesmoke;
  }
  #last > div > input:hover {
    border-bottom: 2px solid black;
  }
  
  #last > div > button {
    padding: 4px 8px;
    font-size: 0.8125rem;
    width: 35%;
    color: #fff;
    background-color: #087cdd;
    border: none;
    margin-left: -50px;
    line-height: 1.75;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: 0.02857em;
  }
  #searchboxes > p {
    color: #3c4858;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
  }
  
  #droptype {
    height: 100px;
  }
  #droptype::-webkit-scrollbar {
    display: none;
  }