


    body{
        background-color: #f8f8f8;
    }
#courses{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,370px);
    margin: auto;
    gap :1.5%;
    margin-bottom: 60px;
}



  * {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
p{
color: rgba(0, 0, 0, 0.54);
}
  #courses>div{
      background-color: white;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      width: 100%;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
  }
#courses>div>img{
   width: 100%;
   height: 150px;
   border-top-left-radius: 10px;
   border-top-right-radius:10px ;
}
#title{
  
   width: 90%;
   margin: auto;
   padding-bottom: 20px;
   margin-top: -10px;
}
#title>p{
   line-height: 1.5;
   font-size: 14px;
   margin-top: -18px;
}
#price{
border-top: 1px dashed rgba(0, 0, 0, 0.54);
   height: 30px;
   display: flex;
   justify-content: right;
   align-items:baseline;
   margin: auto;
   gap: 5px;
   width: 90%;
   padding-right: 2px;
}
#price>p, #price>h3{
margin-top: 2px;
}
#downdiv{
 margin-bottom: 2px; 
}

#emi{
 box-sizing: border-box;
 width: 90%;
 display: flex;
 height: 30px;
 align-items: center;
 justify-content: right;
 padding-right: 5px;
 margin: auto;
font-weight: bold;
margin-top: -2px;
color: rgb(255, 179, 38);
gap: 2px;
}
#emi>p{
color: rgb(255, 179, 38);
}
#cartbtn{
display: flex;
width: 95%;
margin: auto;
align-items: center;
justify-content: right;
height: 40px;

}
#cartbtn>button{
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
cursor: pointer;
border: none;
padding: 4px 8px;
min-width: 64px;
font-size: 0.8125rem;
color: #fff;
background-color: #DF1E2E;
box-sizing: border-box;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
line-height: 1.75;
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
font-weight:bold;
border-radius: 4px;
letter-spacing: 0.02857em;
text-transform: uppercase;
margin-left: 10px;
}
#cartbtn>p{
color: #087CDD;
font-size: 0.8125rem;
}
#banner{
box-sizing: inherit;
display: block;
position: relative;
width: 60%;
text-align: center;
margin:auto;
padding :20px;

}
#underbanner{
text-align: center;
width:100%;
position: absolute;
margin: auto;
}

#bannerdiv{
  /* border: 1px solid red; */
display: flex;
box-sizing: inherit;
justify-content: center;
margin-top:60px;
}
#coursehead
{
width: 80%;
margin: auto;
margin-top:  50px;
margin-bottom: 30px;
}
#coursehead>p:last-child{
font-size: 14px;
font-weight: 400;
line-height: 1.75;
letter-spacing: 0.00938em;
margin-top: -10px;
}
#coursehead>p:first-child{
font-size: 20px;
line-height: 20px;
font-weight: 500;
}

#know:hover{
 cursor: pointer;
 background-color: lightblue;
}
/* #cartimg {
  position: absolute;
  font-size: 20px;
} */
/* <-------------cartimgcss--------------> */
#NavBarCart{
  display: flex;
  justify-content: center;
  align-items: center;
}
#NavBarCart>i{
  position:absolute;
  
}
#cartno {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  position: relative;
  bottom: 11px;
  left: 16px;
  background-color: #DF1E2E;
}
#cartno > p {
  color: #fff;
  font-size: 14px;
}

