body {
    background-color: #f8f8f8;
  }

  * {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }

  #banner {
    position: absolute;
    width: 100%;
    height: 400px;
   
  }
  #banner > img {
    width: 100%;
    height: 100%;
  }
  #duration {
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 230px;
    width: 20%;
    top: 300px;
    background-color: white;
    left: 72%;
    border-radius: 5px;  
  }
  
  #content {
    background-color: white;
    box-sizing: border-box;
    margin-left: 11%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-top: 185px;
    height: 150px;
    width: 60%;
    padding: 1%;
    border-radius: 5px;
  }
  #content > p {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
  }
  #week {
    height: 40px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.54);
    width: 85%;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: auto;
    gap: 5px;
  }
  #price {
    display: flex;
    align-items: baseline;
    gap: 8px;
    height: 50px;
    padding-bottom: 8px;
  }
  #price > h1 {
    color: #df1e2e;
  }
  #checkout {
    border: none;
    color: #fff;
    background-color: #df1e2e;
    padding: 6px 16px;
    font-size: 0.875rem;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.75;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
  }
  #enroll {
    background-color: white;
    color: #df1e2e;
    border: 1px solid rgba(223, 30, 46, 0.5);
    font-size: 0.875rem;
    width: 100%;
    box-sizing: border-box;
    line-height: 2;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    margin-top: -8px;
  }
  #pricediv {
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
  }
  #pricediv > p {
    text-align: center;
    margin-top: 2px;
  }

  #keys {
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: auto;
    width: 59%;
    margin-top: 30px;
    margin-left: 11%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  #feature {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.54);
    height: 250px;
    width: 95%;
    margin-left: 2%;
  }
  #students{
    border-bottom: 1px dashed rgba(0, 0, 0, 0.54);
    height: 150px;
    width: 95%;
    margin-left: 2%;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  #kf,
  #sf {
    border-left: 5px solid rgb(255, 179, 38);
    line-height: 2;
    font-size: 24px;
    padding-left: 12px;
    color: rgb(51, 51, 51);
  }
  p {
    color: rgba(0, 0, 0, 0.54);
  }
  #featureimg,
  #studentimg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #featureimg > div,
  #studentimg > div {
    display: flex;
    align-items: center;
  }
  #featureimg > div > img,
  #studentimg > div > img {
    width: 70px;
  }

 