#res{
    display: flex;
    justify-content: center;
    /* position: absolute; */
    
    padding-top: 9%;
    
        }
        #rediv{
          /* justify-content: center; */
          /* border: 1px solid red; */
          height: 400px;
          width: 600px;
          background-color: #ffff;
          box-shadow: 2px 2px 5px 5px rgb(235 235 235) ;
          position: absolute;
          flex-direction: column;
          /* padding-left: 12%; */
          /* margin-left: 22%; */
          justify-content: center;
          box-sizing: border-box;
        }
        #re{
              width: 80%;
              height: 50px;
              outline: 0;
             border-width: 0 0 1px;
             /* padding-left: 3%; */
             margin-left: 8%;
    
          }
          #re:hover {
      border-color: black;
      border-width: 0 0 2px;
    }
    #re:focus{
      border-color: rgb(45, 45, 151);
    }
    #pr{
      margin-left: 8%;
      font-size: 20px;
    }
    #subbox{
      width: 15%;
      height: 40px;
      background-color: red;
      /* position: absolute; */
      justify-content: center;
      margin-left: 70%;
      border: none;
      border-radius: 5px;
      color: white;
    }
    #subbox:hover{
      background-color: brown;
    }
    #close-btn{
      width: 15%;
      border: none;
      color: blue;
      font-size: 20px;
    }
    #ds{
      display: flex;
      gap: 20px;
    }