
     /* ///////////////////// start your business today ///////////////////////// */
     #sd{
        display: flex;
        justify-content: center;
        padding-top: 5%;
        padding-bottom: 3%;
    }
    #start{
        height: 220px;
        width: 35%;
        /* border: 1px solid red;    */
        /* display: grid; */
        background-color: #ffff;
        box-shadow: 2px 2px 5px 5px rgb(235 235 235);
        padding-bottom: 4%;
        border-radius: 5px;
        justify-content: center;
    

    }

    #sp{
        display: flex;
        /* padding-left: 12%; */
        font-size: 35px;
        justify-content: center;
        color: #3C4858;
       
       
    }
    #ss{
        display: flex;
        justify-content: center;
         line-height: 25px;
         color: #000000DE;
    }
    #ssubmit{
        /* display: flex; */
     background-color: blue;
     color: white;
     border: none;
     height: 30px;
     /* justify-content: center; */
     border-radius: 5px;
     background-color: #ffff;
     box-shadow: 2px 2px 5px 5px rgb(235 235 235);
 }

 /* ////////////////////////////  varify mobile   ////////////// */
 .form-popup {
     display: none;
position: relative;

/* top: auto; */
height: 350px;
/* bottom: 0; */
/* right: 15px; */
border: 3px solid #f1f1f1;
/* z-index: 9; */
padding-top: 3%;
background-color: #ffff;
box-shadow: 2px 2px 5px 5px rgb(235 235 235);

width: 40%;
box-sizing: border-box;
}
#inp{
width: 8%;
height: 40px;
justify-content: center;
/* padding-left: 12%; */
gap: 20px;


}
.open-btn{
display: flex;
justify-content: center;
background-color: blue;
color: white;
border: none;
border-radius: 5px;
height:30px ;
text-align: center;
padding-top: 1.5%;
margin-left: 35%;
box-shadow: 2px 2px 5px 5px rgb(235 235 235);

}
.btn-cancel{

justify-content: end;
border: none;
color: rgb(0, 89, 255);
font-size: 18px;
}
.mob{
display: flex;
justify-content: center;
gap: 10px;
}
.ver{
font-size: 25px;
padding-left: 6.5%;
}
/* #cdiv{

position: absolute;

flex-direction: column;
box-sizing: border-box;
} */
.btn-cancel{
  margin-left: 80%;
} 
#myForm{
  
  margin-left: 30%;
  margin-top: -10%;
  /* background-color: #f1f1f1; */
  background-color: #ffff;
}